{
    // Especifica los entornos donde se ejecutará el código
    "env": {
        "jest": true, // Habilita Jest para testing
        "browser": true // Habilita el entorno del navegador
    },
    "root": true,
    // Especifica el parseador para TypeScript (en este ejemplo usaremos @typescript-eslint/parser)
    "parser": "@typescript-eslint/parser",
    // Extiende el rango con configuraciones y complementos de ESLint
    "plugins": [
        "@typescript-eslint"
    ],
    // Agrega reglas adicionales y opciones de configuración
    "extends": [
        "eslint:recommended", // Reglas recomendadas para ESLint
        "plugin:react/recommended", // Reglas recomendadas para React
        "plugin:@typescript-eslint/recommended", // Reglas recomendadas paraTypeScript
        "plugin:@typescript-eslint/eslint-recommended",
        "prettier", // Reglas para Prettier
        "plugin:prettier/recommended", // Reglas recomendadas para losplugins Prettier
        "plugin:react-hooks/recommended", // Reglas recomendadas para loshooks de React
        "plugin:storybook/recommended" // Reglas recomendadas paraStorybook
    ],
    "rules": {
        "react/react-in-jsx-scope": "off"
    }
}